{{#each this}}
<h2 class="country-name">{{name}}</h2>
<div class="country-wrapper">
    <div class="country-info">
        <p class="country-capital"><strong>Capital: </strong> {{capital}}</p>
        <p class="country-population"><strong>Population: </strong> {{population}}</p>
        <ul class="country-languages-list">
            <strong>
                Languages:
            </strong>
            {{#each languages}}
            <li class="country-languages-item">{{name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="country-flag">
        <img src="{{flag}}" alt="flag of {{name}}">
    </div>
</div>
{{/each}}